<html>
  <head>
    <div>
        </div>
        <link rel="stylesheet" href="style.css">

          <div class="nav">
          <div class="nav-header">
            <div class="nav-title">

            </div>
          </div>
          <input type="checkbox" id="nav-check">
          <div class="nav-links2">
             <a href="login">Login </a>
          </div>
          <div class="nav-btn">
            <label for="nav-check">
              <span></span>
              <span></span>
              <span></span>
            </label>
          </div>

          <input type="checkbox" id="nav-check">
          <div class="nav-links">
            <a href="/home" >Home</a>
            <a href="/BMI" >BMI</a>
            <a href="/BMR" >BMR</a>
            <a href="/workout" >Workout</a>
            <a href="/water" >Water Intake</a>


          </div>
        </div>




    <meta charset="utf-8">

  </head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {

    $('#Male').click(function(){
      var age = $('#age').val();
      var height = $('#Height').val();
      var weight = $('#Weight').val();

      var result = 10*weight+6.25*height-5*age+5;

      $('#bmr').text(result);
    });


    $('#Female').click(function(){
      // BmrCalc1.reset()
      var age = $('#age').val();
      var height = $('#Height').val();
      var weight = $('#Weight').val();

      console.log(age + " " + height + " " + weight);

      var result = 10*weight+6.25*height-5*age-161;


      $('#bmr').text(result);
    });


  });

  </script>

  <body>
    <section>
      <center>
      <h1> BMR calculator </h1>
      <p>
        <input type="number" name="amount"  min="0" id="age" placeholder="Age" >
        <input type="number" name="amount"  min="0" id="Weight" placeholder="Weight(kg)" >
        <input type="number" name="amount"  min="0" id="Height" placeholder="Height(cm)" >
      </p>
      <p>
        <button id="Male">Male</button>
        <button id="Female">Female</button>
      </p>
      <h2>Your BMR is: <span id="bmr"></span> </h2>
    </center>
    </section>

  </body>
</html>
