<html>
  <head>
    <div>
     <% include  user_logged.ejs %>


    <meta charset="utf-8">

  </head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
  <style>
  body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  </style>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {

    $('#Male').click(function(){
      var age = $('#age').val();
      var height = $('#Height').val();
      var weight = $('#Weight').val();

      var result = 10*weight+6.25*height-5*age+5;

      $('#bmr').text(result);
    });


    $('#Female').click(function(){
      // BmrCalc1.reset()
      var age = $('#age').val();
      var height = $('#Height').val();
      var weight = $('#Weight').val();

      console.log(age + " " + height + " " + weight);

      var result = 10*weight+6.25*height-5*age-161;


      $('#bmr').text(result);
    });


  });

  </script>

  <body>
    <section>
      <center>
      <h1> BMR calculator </h1><br>
      Your BMR (basal metabolic rate) is the amount of calories required
      to keep your body functioning at rest.<br>
      <a href="https://tanita.eu/tanita-academy/understanding-your-measurements/basal-metabolic-rate">Learn more</a>
      <p>
        <input type="number" name="amount"  min="0" id="age" placeholder="Age" >
        <input type="number" name="amount"  min="0" id="Weight" placeholder="Weight(kg)" >
        <input type="number" name="amount"  min="0" id="Height" placeholder="Height(cm)" >
      </p>
      <p>
        <button id="Male">Male</button>
        <button id="Female">Female</button>
      </p>
      <h2>Your BMR is: <span id="bmr"></span> </h2>
    </center>
    </section>

  </body>
</html>
