<html>
  <head>
    <div>
        </div>
        <link rel="stylesheet" href="style.css">

          <div class="nav">
          <div class="nav-header">
            <div class="nav-title">

            </div>
          </div>
          <input type="checkbox" id="nav-check">
          <div class="nav-links2">
             <a href="login">Login </a>
          </div>
          <div class="nav-btn">
            <label for="nav-check">
              <span></span>
              <span></span>
              <span></span>
            </label>
          </div>

          <input type="checkbox" id="nav-check">
          <div class="nav-links">
            <a href="/home" >Home</a>
            <a href="/BMI" >BMI</a>
            <a href="/calorie_counter" >Calorie Counter</a>
            <a href="/workout" >Workout</a>
            <a href="/water" >Water Intake</a>
            <a href="/food" >Food</a>


          </div>
        </div>




    <meta charset="utf-8">

  </head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  <script type="text/javascript">
  $(document).ready(function() {

    $('#Male').click(function(){
      var age = $('#age').val();
      var height = $('#Height').val();
      var weight = $('#Weight').val();

      var result = 10*weight+6.25*height-5*age+5;

      $('#bmr').text(result);
    });


    $('#Female').click(function(){
      // BmrCalc1.reset()
      var age = $('#age').val();
      var height = $('#Height').val();
      var weight = $('#Weight').val();

      console.log(age + " " + height + " " + weight);

      var result = 10*weight+6.25*height-5*age-161;


      $('#bmr').text(result);
    });


  });

  </script>

  <body>
    <section>
      <center>
      <h1> BMR calculator </h1>
      <p>
        <input type="number" name="amount"  min="0" id="age" placeholder="Age" >
        <input type="number" name="amount"  min="0" id="Weight" placeholder="Weight(kg)" >
        <input type="number" name="amount"  min="0" id="Height" placeholder="Height(cm)" >
      </p>
      <p>
        <button id="Male">Male</button>
        <button id="Female">Female</button>
      </p>
      <h2>Your BMR is: <span id="bmr"></span> </h2>
    </center>
    </section>

  </body>
  <body>
  	<div id="chartContainer" style="height: 300px; width: 100%;"></div>
  	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  	<p>
  		<center>

  			<form action="">
  				<input type="text" placeholder="Monday" id="Monday">  <input type="text" placeholder="Tuesday" id="Tuesday">   <input type="text" placeholder="Wednesday" id="Wednesday">
  				<input type="text" placeholder="Thursday" id="Thursday">   <input type="text" placeholder="Friday" id="Friday">   <input type="text" placeholder="Saturday" id="Saturday">
  				<input type="text" placeholder="Sunday" id="Sunday">

  				<input type="button" id="button" value="Submit">
  			</form>
  		</center>
  	</p>
  </body>
  <script>

  function graph() {
  	var caloriesM=Number(document.getElementById("Monday").value);
  	var caloriesT=Number(document.getElementById("Tuesday").value);
  	var caloriesW=Number(document.getElementById("Wednesday").value);
  	var caloriesTh=Number(document.getElementById("Thursday").value);
  	var caloriesFr=Number(document.getElementById("Friday").value);
  	var caloriesSat=Number(document.getElementById("Saturday").value);
  	var caloriesSun=Number(document.getElementById("Sunday").value);

  	var chart = new CanvasJS.Chart("chartContainer", {
  		animationEnabled: true,

  		title:{
  			text:"Calorie consumption"
  		},
  		axisX:{
  			interval: 1
  		},
  		axisY2:{
  			interlacedColor: "rgba(1,77,101,.2)",
  			gridColor: "rgba(1,77,101,.1)",
  			title: "Number of Calories"
  		},
  		data: [{
  			type: "bar",
  			name: "days",
  			axisYType: "secondary",
  			color: "#014D65",

  			dataPoints: [
  				{ y: caloriesM, label: "Monday"},
  				{ y: caloriesT, label: "Tuesday"},
  				{ y: caloriesW, label: "Wednesday"},
  				{ y: caloriesTh, label: "Thursday"},
  				{ y: caloriesFr, label: "Friday"},
  				{ y: caloriesSat, label: "Saturday"},
  				{ y: caloriesSun, label: "Sunday"}
  			]
  		}]
  	});
  	chart.render();
  }
  window.onload = graph;
  document.getElementById("button").onclick = graph;
  </script>
</html>
