<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>


    <div>
        </div><head>
          <link rel="stylesheet" href="style.css">

          <div class="nav">
          <div class="nav-header">
            <div class="nav-title">

            </div>
          </div>
          <input type="checkbox" id="nav-check">
          <div class="nav-links2">
             <a href="login" target="left">Login </a>
          </div>
          <div class="nav-btn">
            <label for="nav-check">
              <span></span>
              <span></span>
              <span></span>
            </label>
          </div>
        </head>
          <input type="checkbox" id="nav-check">
          <div class="nav-links">
            <a href="home" target="_blank">Home</a>
            <a href="BMI" target="_blank">BMI</a>
            <a href="calorie_counter" target="_blank">Calorie Counter</a>
            <a href="workout" target="_blank">Workout</a>
            <a href="water" target="_blank">water intake</a>


          </div>
        </div>




    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    home
  </body>
</html>
    <h3>Sign in</h3>
<form action="/login" method="POST" class="form-horizontal"><br>
  <input type="text" name="username" placeholder="Username"><br>
  <input type="password" password="password_r" name="password" placeholder="Password"><br>
  <input type="submit" name="Submit" value="Enter" class="btn"><br>
</form>
<a href="register">Don't have an account? Register</a>
  </body>
</html>
