<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>


    <div>
        </div><head>
          <style>
          * {
          box-sizing: border-box;
        }

        body {
          margin: 0px;
          font-family: 'segoe ui';
        }

        .nav {
          height: 50px;
          width: 100%;
          background-color: #4d4d4d;
          position: relative;
        }

        .nav > .nav-header {
          display: inline;
        }

        .nav > .nav-header > .nav-title {
          display: inline-block;
          font-size: 22px;
          color: #fff;
          padding: 10px 10px 10px 10px;
        }

        .nav > .nav-btn {
          display: none;
        }

        .nav > .nav-links {
          display: inline;
          float: left;
          font-size: 18px;
        }
        .nav > .nav-links2 {
          display: inline;
          float: right;
          font-size: 18px;
        }


        .nav > .nav-links > a {
          display: inline-block;
          padding: 13px 10px 13px 10px;
          text-decoration: none;
          color: #efefef;
        }
        .nav > .nav-links2 > a {
          display: inline-block;
          padding: 13px 10px 13px 10px;
          text-decoration: none;
          color: #efefef;
        }


        .nav > .nav-links > a:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
        .nav > .nav-links2 > a:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }

        .nav > #nav-check {
          display: none;
        }

        @media (max-width:600px) {
          .nav > .nav-btn {
            display: inline-block;
            position: left;
            right: 0px;
            top: 0px;
          }
          .nav > .nav-btn > label {
            display: inline-block;
            width: 50px;
            height: 50px;
            padding: 13px;
          }
          .nav > .nav-btn > label:hover {
            background-color: rgba(0, 0, 0, 0.3);
          }
          .nav > .nav-btn > label > span {
            display: block;
            width: 25px;
            height: 10px;
            border-top: 2px solid #eee;
          }
          .nav > .nav-links {
            position: absolute;
            display: block;
            width: 100%;
            background-color: #333;
            height: 0px;
            transition: all 0.3s ease-in;
            overflow-y: hidden;
            top: 50px;
            left: px;
          }
          .nav > .nav-links2 {
            position: absolute;
            display: block;
            width: 100%;
            background-color: #333;
            height: 0px;
            transition: all 0.3s ease-in;
            overflow-y: hidden;
            top: 50px;
            left: px;
          }
          .nav > .nav-links > a {
            display: block;
            width: 100%;
          }
          .nav > .nav-links2 > a {
            display: block;
            width: 100%;
          }
          .nav > #nav-check:not(:checked) + .nav-links {
            height: 0px;
          }
          .nav > #nav-check:checked + .nav-links {
            height: calc(100vh - 50px);
            overflow-y: auto;
          }
        }
          </style>
          <div class="nav">
          <div class="nav-header">
            <div class="nav-title">

            </div>
          </div>
          <input type="checkbox" id="nav-check">
          <div class="nav-links2">
             <a href="login" >Login </a>
          </div>
          <div class="nav-btn">
            <label for="nav-check">
              <span></span>
              <span></span>
              <span></span>
            </label>
          </div>
        </head>
          <input type="checkbox" id="nav-check">
          <div class="nav-links">
            <a href="/home" >Home</a>
            <a href="/BMI" >BMI</a>
            <a href="/calorie_counter" >Calorie Counter</a>
            <a href="/workout" >Workout</a>
            <a href="/water" >water intake</a>

          </div>
        </div>




    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    home
  </body>
</html>
    <h3>Register</h3>
    <form action="/register" method="POST" class="form-horizontal">
     <input type="text" name="username" placeholder="Username"><br>
     <input type="password" password="password_r" name="password" placeholder="Password"><br>
     <input type="submit" action = "login" name="Submit" value="Submit" class="btn"><br>
     <a href="login">Are you already registered? Log in</a>
</form>
  </body>
</html>
