<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Register</h3>
    <form action="/register" method="POST" class="form-horizontal">
     <input type="text" name="username" placeholder="Username"><br>
     <input type="password" password="password_r" name="password" placeholder="Password"><br>
     <input type="submit" action = "login" name="Submit" value="Submit" class="btn"><br>
     <a href="login">Are you already registered? Log in</a>
</form>
  </body>
</html>
