<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <% include  user_logged.ejs %>


  <meta charset="utf-8">
</head>
<body>

  <div id="main">
<h1>Water Intake Tracker</h1>
<form action="/water" method="POST" class="form-horizontal"><br>
  <input type="text" name="amount" placeholder="Amount (ml)"><br>
  <input type="submit" name="Submit" value="Enter" class="btn"><br>
</form><br>
<%= user %>'s water intake history:<br><br>
<% for (var i=0; i < data.length; i++) { %>
  <div>
    <%= data[i].dataValues.amount %>ml, <%= data[i].dataValues.createdAt %><br>
  </div><br>
  <% } %>
</div>
</center>
</body>
</html>
