<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <link rel="stylesheet" href="style.css">
    <div class="nav">
      <div class="nav-header">
        <div class="nav-title">

        </div>
      </div>
      <input type="checkbox" id="nav-check">
      <div class="nav-links2">
        <a href="login" >Login </a>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
    <input type="checkbox" id="nav-check">
    <div class="nav-links">
      <a href="/home" >Home</a>
      <a href="/BMI" >BMI</a>
      <a href="/BMR" >BMR</a>
      <a href="/workout" >Workout</a>
      <a href="/water" >Water Intake</a>
      <a href="/weight">Weight</a>

    </div>
  </div>

  <meta charset="utf-8">
</head>
<body>
  <center>
  <div id="main">
<h1>Water Intake Tracker</h1>
<form action="/water" method="POST" class="form-horizontal"><br>
  <input type="text" name="amount" placeholder="Amount (ml)"><br>
  <input type="submit" name="Submit" value="Enter" class="btn"><br>
</form><br>
<%= user %>'s water intake history:<br><br>
<% for (var i=0; i < data.length; i++) { %>
  <div>
    <%= data[i].dataValues.amount %>ml, <%= data[i].dataValues.createdAt %><br>
  </div><br>
  <% } %>
</div>
</center>
</body>
</html>
