<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    water_intake
    <form action="/water" method="POST" class="form-horizontal"><br>
  <input type="text" name="amount" placeholder="Amount (ml)"><br>
  <input type="submit" name="Submit" value="Enter" class="btn"><br>
</form>
  </body>
</html>
