<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Workout tracker!</title>
  </head>
  <body>
    <h1> Workout tracker! </h2>
    <h2> Please enter your workout </h2>
    <form action="/addworkout" method="POST" class="form-horizontal">
      <input type="text" name="workout" placeholder="Enter a workout">
      <input type="submit" action = "Submit" name="Submit" value="Submit" class="btn"><br>
  </body>
</html>
