<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="style.css">
    <div>
        </div>
          <div class="nav">
          <div class="nav-header">
            <div class="nav-title">

            </div>
          </div>
          <input type="checkbox" id="nav-check">
          <div class="nav-links2">
             <a href="login" >Login </a>
          </div>
          <div class="nav-btn">
            <label for="nav-check">
              <span></span>
              <span></span>
              <span></span>
            </label>
          </div>
        </head>
          <input type="checkbox" id="nav-check">
          <div class="nav-links">
            <a href="/home" >Home</a>
            <a href="/BMI" >BMI</a>
            <a href="/calorie_counter" >Calorie Counter</a>
            <a href="/workout" >Workout</a>
            <a href="/water" >Water Intake</a>


          </div>
        </div>

    <meta charset="utf-8">
    <title>Workout tracker!</title>
  </head>
  <center><body>
    <h1> Workout tracker! </h2>
    <h2> Please enter your workout </h2>
    <form action="/addworkout" method="POST" class="form-horizontal">
      <input type="text" name="workout" placeholder="Enter a workout">



      <input type="submit" action = "Submit" name="Submit" value="Submit" class="btn"><br>
  </body>
  <% for (var i=0; i < data.length; i++) { %>
    <div>
      Type: <%= data[i].dataValues.workout %>, <%= data[i].dataValues.createdAt %><br>
    </div><br>
    <% } %>
</html>
